[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=qxkb
Terminal=false
Categories=Application;Qt;Utility;
Icon=qxkb
Name=QXKB
Comment=Qt4-X11 Keyboard  switcher
Comment[ru]= Переключатель раскладки на Qt4
GenericName=Keyboard  switcher
GenericName[ru]=Переключатель раскладки
